extends ../layout

block content
  legend Sign In

  p.lead(align='center')
    a(href='/login?handle=jeffdonthemic') Sign in with your [topcoder] account
  p(align='center')
    a(href='https://www.topcoder.com/?action=showlogin')
      img(src='/img/topcoder-logo-big.png', width='350')