extends ../layout

block content
  .landing-page
    .container
      h1 Thanks for registering!
      p.lead
        | Check your inbox for your email confirmation and then 
        a(href="https://www.topcoder.com/?action=showlogin") login.
      .col-md-8.text-right
        hr
        a(href="http://community.topcoder.com/tco14/sponsor/sequoia-capital/").sponsor
            span.sr-only sponsored by Sequoia Capital
