extends layout

block content
  .landing-page.text-center
    .container-fluid
      .jumbotron
        h1 The Ultimate Programming and Design Tournament
        .container
          p Including first-ever TCO Developer Conference, Celebrity Match, &amp; Chances to win t-shirts and up to $25,000 in cash!
            p 
              a(href="/arena").btn-cywi(role="button")
                span.sr-only Click Here To Code Your Way In
              a(href="http://community.topcoder.com/tco14/sponsor/sequoia-capital/").sponsor
                span.sr-only sponsored by Sequoia Capital
    .location
      p 
        | Pier 48 near At&amp;t Park,
        br
        | San Francisco, California
        br
        span.date November 16 – 19, 2014
    .call-to-action
      a.btn.btn-lg(href="http://community.topcoder.com/tco14/developer-events/overview/", role="button") LEARN MORE ABOUT THE TCO14 HERE
