doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    link(rel='shortcut icon', href='http://3a72mb4dqcfnkgfimp04jgyyd.wpengine.netdna-cdn.com/wp-content/themes/tcs-responsive/favicon.ico')
    title #{title} | Code Your Way In
    != css('styles')
  body
    include partials/navbar

    .container
      include partials/flash
      block content

    include partials/footer

    != js('application')
    
    if (loadArena)
      script(type='text/javascript', src='/js/arena.js')
      script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js')    