extends ../layout

block content
  h2 Welcome to the Arena

  form#hidden(action='/arena/success', method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    input#roundId(type='hidden', name="roundId" value='#{roundId}')
    input#roomId(type='hidden', name="roomId" value='#{roomId}')
    input#componentId(type='hidden', name="componentId" value='#{componentId}')

  p#loading.bg-success(style='margin: 25px; padding: 25px; width: 500px;') Building the arena. This may take a second or two....

  #problem(style='display: none')

    #title.lead(style='padding-top:15px')
    #instruction(style='margin-top:15px;margin-bottom:15px')

    #definition(style='padding-bottom:15px') 

    #constraints(style='padding-bottom:25px') 

    #examples(style='padding-bottom:25px') 

    form(role='form')
      .form-group
        label(for='language') Your Development Language &nbsp;
        select#language(onchange="changeLanguage();")
          option(value='1', selected='true') Java
          option(value='3') C++
          option(value='4') C#
          option(value='5') VB
          option(value='6') Python

      .form-group
        #editor 

      button.btn.btn-primary(type='button', onclick='compile()') Compile Your Code
      | &nbsp;&nbsp; Make sure to compile your code after any changes before running tests.

    h3(style='padding-top:10px') Testing

    blockquote
      p
      | Enter test arguments for your code below. Comma separated, strings in quotes, arrays in square brackets. Ex. 100, "One Hundred", ["An", "Array", "of", "Strings"]

    form(role='form')
      .form-group
        input#args(type='text', class='col-xs-8')
      br
      br
      button.btn.btn-primary(type='button', onclick='testProblem()') Run Your Test

    h3(style='padding-top:10px') Run System Tests

    blockquote
      p
      | When your code is complete and you are satisified with its functionality, submit it to run our system tests and determine whether it passes. You can submit your code as many times as you deem necessary. The test results will display in the table below.

    button.btn.btn-primary#submitBtn(type='button', onclick='submit()') Run System Tests 
    | &nbsp;
    button.btn.btn-success#successBtn(type='button', onclick='success()') Success! Claim your code! 

    #testResultsPanel

      h3(style='padding-top:10px') System Test Results

      table#testresults.table
        thead
          tr
            th Succeeded
            th Expected
            th Actual
            th Args
