extends ../layout

block content
  form#hidden(action='/arena/submit', method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    input#roundId(type='hidden', name="roundId" value='#{roundId}')
    input#roomId(type='hidden', name="roomId" value='#{roomId}')
    input#componentId(type='hidden', name="componentId" value='#{componentId}')

  .member-area
    .container
      h1 Code Your Way In
        br
        strong Welcome to the Arena
      a(href="http://community.topcoder.com/tco14/sponsor/sequoia-capital/").sponsor
        span.sr-only sponsored by Sequoia Capital

      p#loading.bg-success(style='margin: 25px; padding: 25px; width: 500px;') Building the arena. This may take a minute or two....


      #problem(style='display: none')
        h2#className

        p#instruction

        h3 Definition
        p.indent#definition 

        h3 Constraints
        p.indent#constraints 

        h3 Examples
        p.indent#examples 

        form(role='form')
          .form-group
            h3 Coding Area
            label(for='language') Select Your Development Language &nbsp;
            select#language(onchange="changeLanguage();")
              option(value='1', selected='true') Java
              option(value='3') C++
              option(value='4') C#
              option(value='5') VB
              option(value='6') Python

          .form-group
            #editor 

          button.btn.btn-primary(type='button', onclick='compile()') Compile Your Code
          | &nbsp;&nbsp; Make sure to compile your code after any changes before running tests.

        h3(style='padding-top:10px') Testing Panel

        p 
          | Enter test arguments for your code below. 
          br
          | Comma separated, strings in quotes, arrays in square brackets. Ex. 100, "One Hundred", ["An", "Array", "of", "Strings"]

        form(role='form')
          .form-group
            .row
              .col-md-8
                input#args.form-control(type='text')
              .col-md-4
                button.btn.btn-primary(type='button', onclick='testProblem()') Run Your Test

        h3 Run System Tests

        p
          | When your code is complete and you are satisified with its functionality, run the system tests to determine whether it passes. You can run the system tests as many times as you deem necessary. The test results will display in the table below. When all tests pass, submit your code to receive your 'golden ticket' to TCO14.
          br

          button.btn.btn-primary#submitBtn(type='button', onclick='submit()') Run System Tests 
          | &nbsp;
          button.btn.btn-success#submitCodeBtn(type='button', onclick='submitCode()') Finished? Submit your code! 

        #testResultsPanel

          h3 System Test Results

          table#testresults.table
            thead
              tr
                th Succeeded
                th Expected
                th Actual
                th Args
