extends ../layout

block content
  if (typeof user.goldenTicket === 'undefined')
    a(href='/arena')
      img(src='/img/results-incomplete.png')  
  else
    h1 Congratulations!!
    |  Use the registerion code below to claim your free entry into TCO14. Enter the code at the bottom of the 
    a(href='http://appirio.regsvc.com/E2', target='_blank') TCO14 Registration page. 
    p.lead(style='margin:10px')
      = user.goldenTicket  
