extends ../layout

block content
  if (typeof user.goldenTicket === 'undefined')
    a(href='/arena')
      img(src='/img/results-incomplete.png')  
  else
    | Use the code below to claim your free entry into 
    a(href='http://www.tco14.com') TCO14.
    p.lead(style='margin:10px')
      = user.goldenTicket  
