extends ../layout

block content
  .member-area
    .container
      h1 Running System Tests
      |  We are currently running system tests for your code. The current status of the tests will display every 5 seconds.
      a.sponsor(href="http://community.topcoder.com/tco14/sponsor/sequoia-capital/")
      span.sr-only sponsored by Sequoia Capital