extends ../layout

block content
  h2 Success

  | Here is your ticket to use when registering for TCO14. You can also find it on your 
  a(href='/account') Account page

  p.lead(style='margin:10px')
    = user.goldenTicket  

  p
  p
  [This page will look better after the results from the UI design challenge]